<html>
	<head>
		<title>Sample exp</title>
		<script>
		
		
		</script>
	</head>
	<body>
		<select class="lan">
			<option disabled selected value> -- select an option -- </option>
			<option value="English">English</option>
			<option value="Hindi">Hindi</option>
		</select>
		<br>
		<select class="sen">
			<option disabled selected value> -- select an option -- </option>
			<option value="esen1">There were once a man and a woman who had long, in vain, wished for a child.</option>
			<option value="esen2">At length it appeared that God was about to grant their desire. 
			</option>
			<option value="esen3">These people had a little window at the back of their house from which a splendid garden could be seen.
			</option>
			<option value="esen4">The garden was full of the most beautiful flowers and herbs.
			</option>
			<option value="esen5">It was, however, surrounded by a high wall, and no one dared to go into it because it belonged to an enchantress.
			</option>
			<option value="esen6">She had great power and was dreaded by all the world. 
			</option>
			<option value="esen7">One day the woman was standing by this window and looking down into the garden. 
			</option>
			<option value="esen8">She saw a bed which was planted with the most beautiful rampion, and she longed for it.
			</option>
			<option value="esen9">Her husband was alarmed, and asked 'What ails you, dear wife?' 
			</option>
			<option value="esen10">'Ah,' she replied, 'if I cannot eat some of the rampion, which is in the garden behind our house, I shall die.' 
			</option>
		</select>


	</body>

</html>