<html>
	<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
      $(document).ready(function() {
      $("#btn").click(function(){
        $.ajax({
          data : {
             sentence : $('#val option:selected').text(),
                 },
             type : 'POST',
             url : '/pos/process-eng'
            })
        .done(function(data) {
          $('#output').text(data.output).show();
          $('#sentable').show();
          $('#p1').show();
          $('#p2').show();


      });
      event.preventDefault();
      });
    });
  </script>
   <script>
      $(document).ready(function() {
      $("#btn").click(function(){
        $.ajax({
          data : {
             pankti : $('#hinval option:selected').text(),
                 },
             type : 'POST',
             url : '/pos/process-hin'
            })
        .done(function(data) {
          $('#output').text(data.output).show();
          $('#sentable').show();
          $('#p1').show();
          $('#p2').show();


      });
      event.preventDefault();
      });
    });
  </script>
<script>
  function Languagesel()
  {
      var e = document.getElementById("level");
      var selected = e.options[e.selectedIndex].text;
      console.log(selected);
      
      if (selected == "English"){
        document.getElementById("val").style.display = "initial";
        document.getElementById("hinval").style.display = "none";


      }
      else if(selected == "Hindi"){
        document.getElementById("hinval").style.display = "initial";
        document.getElementById("val").style.display = "none";

      }
      document.getElementById("btn").style.display="initial";
  }
  
  </script>
  <script>
  function splitstring(){
    var e = document.getElementById("val");
    var selected = e.options[e.selectedIndex].text;
    var res = selected.split(" ");
    var tably = document.getElementById("sentable");
    // console.log(res[i]);
      tably.innerHTML=" ";
      for (var i=0; i<res.length; i++) {
      tably.innerHTML+="<tr><td>"+res[i]+"</td><td>"+"india"+"</td></tr>";
    // tably.innerHTML="<tr><td>" + i + ":</td><td>" + res[i] + "</td></tr>";
    }
  // }
  }
  </script>

</head>

<body>
    <select id="level" onchange="Languagesel()">
        <option selected value="base">---Please select a language--</option>  
        <option value="Eng">English</option>
        <option value="Hin">Hindi</option>
    </select>
  <form class="form-inline" >

  <div id="page-wrap" >
    <h1>POS tagging of the statements</h1>
    <select id="val" style="display:none">
                <option selected value="base">---Please select a sentence---</option>
                <option value="1">There were once a man and a woman who had long, in vain, wished for a child.</option>
                <option value="2">At length it appeared that God was about to grant their desire. </option>
                <option value="3">These people had a little window at the back of their house from which a splendid garden could be seen.</option>
                <option value="4">The garden was full of the most beautiful flowers and herbs.</option>
                <option value="5">It was, however, surrounded by a high wall, and no one dared to go into it because it belonged to an enchantress.</option>
                <option value="6">She had great power and was dreaded by all the world. </option>
                <option value="7">One day the woman was standing by this window and looking down into the garden. </option>
                <option value="8">She saw a bed which was planted with the most beautiful rampion, and she longed for it.</option>
                <option value="9">Her husband was alarmed, and asked 'What ails you, dear wife?' </option>
                <option value="10">'Ah,' she replied, 'if I cannot eat some of the rampion, which is in the garden behind our house, I shall die.' </option>

    </select>
    <select id="hinval" style="display:none">
                <option selected value="base">---कृपया दिए गए वाक्यों में से एक चुनिए ।---</option>
                <option value="1">राम सीता के लिए फूलों की माला बनाता है।</option>
                <option value="2">सभी बच्चे विद्यालय में पढ़ते है। </option>
                <option value="3">मैंने उनसे एक सहज प्रश्न पूछा था। </option>
                <option value="4">भागता हुआ हिरण गिर गया। </option>
                <option value="5">लक्ष्मण राम के साथ वनवास गया। </option>
                <option value="6">इस शुभावसर पर राम ने गरीबों को दान दिया।</option>
                <option value="7">ट्रेन में होने वाले हर अपराध में इस गाँव का कोई शामिल मिल जाएगा। </option>
                <option value="8">तुम्हारे सपने है बड़े से। </option>
        </select>

  </div>
  <br>
  <br>
  <button type="submit" id="btn" style="display:none" onclick="splitstring()">Submit</button>
</form>
<br>
<p id="p1" style="color:blue ;  display: none"><i>Select from the options below</i></p>
<table id="sentable" style="display:none" border="solid black" > </table>
<br>
<br>
<p id="p2" style="display:none"><b>The POS tagging gives the result below:</b></p>
<br>
<div id="output"></div>
</br>
</body>
</html>
